<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>
    <title>App Usuarios</title>
</head>
<body>
    <div class="container">
      <form id="frmUsuarios" method="post">
          <input type="hidden" id="id_usuario" name="id_usuario"> <!-- Cambiado aquí -->

          <div class="mb-1">
              <label for="nombre_usuario">Nombre de Usuario</label>
              <input type="text" id="nombre_usuario" name="nombre_usuario" class="form-control">
          </div>
          <div class="mb-1">
              <label for="contrasena">Contraseña</label>
              <input type="password" id="contrasena" name="contrasena" class="form-control">
          </div>
          <div class="mb-1">
              <button id="guardar" name="guardar" class="btn btn-dark">Guardar</button>
              <button type="reset" id="cancelar" name="cancelar" class="btn btn-link">Cancelar</button>
          </div>
      </form>
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Nombre de Usuario</th>
            <th>Contraseña</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="tbodyUsuarios"></tbody>
      </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
    <script>
        window.addEventListener("load", function (event) {
            function buscar() {
                $.get("/usuarios/buscar", function (respuesta) {
                    $("#tbodyUsuarios").html("")

                    for (var x in respuesta) {
                        var usuario = respuesta[x]

                        $("#tbodyUsuarios").append(`<tr>
                            <td>${usuario["Nombre_Usuario"]}</td>
                            <td>${usuario["Contrasena"]}</td>
                            <td>
                                <button class="btn btn-primary btn-editar" data-id="${usuario["Id_Usuario"]}">Editar</button>
                                <button class="btn btn-danger btn-eliminar" data-id="${usuario["Id_Usuario"]}">Eliminar</button>
                            </td>
                        </tr>`)
                    }
                })
            }

            buscar()

            $(document).on("click", ".btn-editar", function (event) {
                var id = $(this).attr("data-id")

                $.get("/usuarios/editar", {id_usuario: id}, function (respuesta) { // Cambiado aquí
                    var usuario = respuesta[0]

                    $("#id_usuario") // Cambiado aquí
                    .val(usuario["Id_Usuario"])
                    .trigger("focus")

                    $("#nombre_usuario").val(usuario["Nombre_Usuario"])
                    $("#contrasena").val(usuario["Contrasena"])
                })
            })
            
            $(document).on("click", ".btn-eliminar", function (event) {
                if (!confirm("¿Quieres eliminar este registro?")) {
                    return
                }

                var id = $(this).attr("data-id")

                $.post("/usuarios/eliminar", {id_usuario: id}) // Cambiado aquí
            })

            $("#frmUsuarios")
            .submit(function (event)  {
                event.preventDefault()

                $.post("/usuarios/guardar", $(this).serialize(), function (respuesta) {
                    $("#frmUsuarios").get(0).reset()
                    buscar(); // Añadir para refrescar la lista después de guardar
                })
            })
            .on("reset", function (event) {
                $("#id_usuario").val("") // Cambiado aquí
            })

            Pusher.logToConsole = true
            
            var pusher = new Pusher("2df86616075904231311", {
                cluster: "us2"
            })

            var channel = pusher.subscribe("canalUsuarios");

            channel.bind("registroUsuarios", function (usuario) {
                buscar()
            })
        })
    </script>    
</body>
</html>
